[submodule "caffe-fast-rcnn"]
	path = caffe-fast-rcnn
	url = https://github.com/rbgirshick/caffe-fast-rcnn.git
	branch = fast-rcnn
[submodule "caffe-latest"]
	path = caffe-latest
	url = https://github.com/BVLC/caffe.git
